<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="path" value="domains.xml"/>
    <add key="Browser" value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe"/>
    <add key="EbookConverter" value="C:\Program Files\Calibre2\ebook-convert.exe"/>
    <add key="rsssource" value="rss.xml"/>
    <add key="newsrecipepath" value="C:\Users\John\AppData\Roaming\calibre\custom_recipes\Custom_1002.recipe"/>
    <add key="author" value="YesMen"/>
    <add key="savefilepath" value="C:\Users\John\Desktop\"/>
  </appSettings>
</configuration>